p{
  color: maroon;
}
h1,h2 {
  font-family: Arial;
  color: grey;
}
h1 {
  border-bottom: 1px solid black;
}
body {
  font-family: Arial;
  font-size: 1.5em;
}
em {
  font-family: "Cascadia Mono";
}

body{
	color: coral;
	color: rgb(65, 225, 217);
	color: #4169E1CC;
	color: #5c2223;
	color: #2775b6CC;
}
