
/* 全局样式设置，针对 body 元素 */
body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

/* 针对 class 为 header 的元素设置样式 */
.header {
  background-color: #675c47;
  margin:           10px;
  height:           108px;
}

/* 针对 class 为 main 的元素设置样式 */
.main {
  display: table-cell;
  vertical-align: top;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  margin:           0px 250px 10px 10px;

}

/* 针对 class 为 sidebar 的元素设置样式 */
.sidebar {
  display: table-cell;
  vertical-align: top;
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
 /*  float: right; /* 设置向右浮动 */
   /*  width: 200px; /* 设置固定宽度为 280 像素 */

}

/* 针对 class 为 footer 的元素设置样式 */
.footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;
 
}

/* 针对 h1 标题元素设置样式 */
h1 {
  font-size:        120%;
  color:            #954b4b;
}

/* 针对 class 为 slogan 的元素设置样式 */
.slogan { 
  color: #954b4b; 
}

/* 针对 class 为 beanheading 的元素设置样式 */
.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

/* 针对未访问过的链接设置样式 */
a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}

/* 针对已访问过的链接设置样式 */
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}


.allcontent {
  width:               800px;
  padding-top:           5px;
  padding-bottom:        5px;
  background-color:  #675c47;
  margin-left: auto;
  margin-right: auto;
}

div.tableContainer {
  display: table;
  border-spacing: 10px;
}

div.tableRow {
  display: table-row; 
}

